* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    vertical-align: top;
    white-space: nowrap;
}
.container {
    display: flex;
    min-width: 960px;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(56, 54, 58);
    color: rgb(177, 177, 177);
}
.side-nav {
    display:inline-block;
    width: 320px;
    height: 100%;
}
.channels {
    padding: 20px 5px;
    display: inline-block;
    width: 80px;
    height: 100%;
    background-color: rgb(36, 35, 37);
}
.sub-channels {
    display: inline-block;
    padding: 20px 0;
    width: 240px;
    height: 100%;
    background-color: rgb(46, 44, 48);
}
.channel-link {
    padding: 10px 20px;
    width: 100%;
}

.content {
    /* display: inline-block; */
    width: calc(100% - 300px);
}
.chat {
    height: calc(100vh - 60px);
    background-color: rgb(56, 53, 58);
}
.chat-header {
    padding-left: 20px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgb(82, 82, 82);
}
.chat-info {
    display: inline-block;
    width: calc(100% - 240px);
}
.profile {
    display: inline-block;
    padding: 10px;
    width: 240px;
    height: 60px;
    line-height: 60px;
    background-color: rgb(38, 37, 39);
}
.chat-log {
    display: inline-block;
    padding: 0px 20px;
    width: calc(100% - 240px);
    height: calc(100vh - 200px);
}
.chat-content {
    padding: 20px;
    height: calc(100vh - 180px);
    /* overflow-y: scroll; */
}
.message-field {
    display: inline-block;
    padding: 20px;
    height: 100px;
    width: 100%;
    border-top: 1px solid rgb(82, 82, 82);
    text-align: center;
}
.message-input {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    height: 60px;
    text-align: left;
    border: none;
    background-color: rgb(70, 65, 71);
    color: rgb(177, 177, 177);
    font-size: 12pt;
    border-radius: 10px;
}
.message-input:focus {
    outline: none;
}
.message-submit {
    display: none;
    position: absolute;
}
.channel-users {
    display: inline-block;
    padding: 10px;
    width: 240px;
    height: calc(100vh - 60px);
    background-color: rgb(46, 44, 48);
}
