<a (click)="showModal()">Add New Friends</a>

<div *ngIf="show" class="login-modal-fade">
    <div class="login-modal-form">
        <span (click)="hideModal()" class="close-modal">X</span>
        <form (submit)="findUsers()">
            <p>Find Friends:</p>
            <p><input type="text" name="user.name" [(ngModel)]="user.name"></p>
            <p *ngIf="errors != null">{{errors}}</p>
            <p><input class="btn btn-primary" type="submit" value="Add"></p>
        </form>
    </div>
</div>

<h4>Online</h4> 

  <div class="channel-user-container" *ngFor="let friend of allFriends">
    <div class="channel-user-avatar">
      <div class="channel-user-status online"></div>
    </div>
    <div class="channel-user-username">{{friend.username}}</div>
  </div>

<div class="channel-user-container">
  <div class="channel-user-avatar">
    <div class="channel-user-status away"></div>
  </div>
  <div class="channel-user-username">Example user2</div>
</div>

<h4>Offline</h4>

<div class="channel-user-container">
    <div class="channel-user-avatar">
      <div class="channel-user-status"></div>
    </div>
    <div class="channel-user-username">Example user3</div>
</div>  

<div class="channel-user-container">
    <div class="channel-user-avatar">
      <div class="channel-user-status"></div>
    </div>
    <div class="channel-user-username">Example user4</div>
</div>  

<div class="channel-user-container">
    <div class="channel-user-avatar">
      <div class="channel-user-status"></div>
    </div>
    <div class="channel-user-username">Example user5</div>
</div>