<h4>Online</h4>
<div class="channel-user-container">
  <div class="channel-user-avatar">
    <div class="channel-user-status online"></div>
  </div>
  <div class="channel-user-username">Example user1</div>
</div>

<div class="channel-user-container">
  <div class="channel-user-avatar">
    <div class="channel-user-status away"></div>
  </div>
  <div class="channel-user-username">Example user2</div>
</div>

<h4>Offline</h4>

<div class="channel-user-container">
    <div class="channel-user-avatar">
      <div class="channel-user-status"></div>
    </div>
    <div class="channel-user-username">Example user3</div>
</div>  

<div class="channel-user-container">
    <div class="channel-user-avatar">
      <div class="channel-user-status"></div>
    </div>
    <div class="channel-user-username">Example user4</div>
</div>  

<div class="channel-user-container">
    <div class="channel-user-avatar">
      <div class="channel-user-status"></div>
    </div>
    <div class="channel-user-username">Example user5</div>
</div>  