<!-- <div *ngFor="let message of message" >

</div> -->
  <!-- <p *ngFor="let message of messages">{{ message }}</p> -->

<div class="message" *ngFor="let message of messages">
  <div class="message-avatar">
    <div class="message-avatar-img"></div>
  </div>
  <div class="message-content">
    <span class="message-username">{{ message.userName }}</span> - <span class="message-date">{{ message.createdAt | date: "short" }}</span>
    <p class="message-text">{{ message.content }}</p>
  </div>
</div>

